# ENTORNO VIRTUAL
.venv/
venv/

# PYTHON CACHE
__pycache__/
*__pycache__/
*.pyc

# DATA
data/
cert/

# LOGS
logs/
*.log

# ARCHIVOS SENSIBLES
*.env
*.pem

# TEMPORALES
*.tmp
*.bak
*.old
~$*.xls
~$*.xlsx

# IDE
.vscode/
.idea/

# PYTEST
.pytest_cache/
*.coverage
justfile
